
.profile-button-container {
    position: absolute;
    top: 20px; /* Adjust the distance from the top */
    left: 20px; /* Adjust the distance from the left */
}

.profile-button {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.profile-button:hover {
    transform: scale(1.1);
}

.profile-box {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none; /* Hide profile box initially */
    flex-direction: row;
    align-items: center;
    padding: 20px;
    width: 300px;
    margin-top: 20px;
    position: absolute; /* Position the profile box */
    top: 80px; /* Ensure it's below the button */
    left: 20px; /* Align with the button */
}

.profile-photo {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 20px;
}

.profile-info {
    text-align: left;
}

.username {
    margin: 0;
    font-size: 24px;
    color: #333;
}

.description {
    margin-top: 8px;
    font-size: 14px;
    color: #666;
  }
